*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

section {
    display:block;
    width: 90%;
    margin: 8rem auto 0 auto;
    text-align: center;
    letter-spacing: 0.7px;
    font-size: 0; 
}

h1 {
    font-size: 3rem;
    
}

h2 {
    font-size: 1.3rem;
    color: darkgray;
    line-height: 2;
    padding-bottom: 1rem;
}

p {
    font-size: 1.1rem;
    color: darkgray;
    line-height: 3;
}

div {
    display: inline-block;
    background-color: white;
    width: 35%;
    margin-right: 1rem;
    padding: 2rem 0 2rem 0;
}

div:first-child h1 {
    color: lightblue;
}

div:last-child h1 {
    color: lightcoral;
}

button {
    margin-top: 0.8rem;
    padding: 1rem 2rem;
    color: white;
    font-size: 1rem;
}

div:first-child button {
    background-color: lightblue;
    border: lightblue;
}

div:last-child button {
    background-color: lightcoral;
    border: lightcoral;
}